.mini-card {
	background-color: white;
	float: left;
	border: 1px solid #d3d3d3;
	height: 90px;
	width: 140px;
	margin: 10px;
	padding: 10px;
	border-left: 6px solid #7AD16D;
	cursor: pointer;
	box-shadow: 2px 0 2px -2px rgba(0,0,0,0.4);
}

.card-wall {
	padding: 10px;
	padding-left: 15px;
}

.card-column {
	display: inline-block;
	vertical-align: top;
	background-color: #f3f3f3;
	max-width: 380px;
	min-width: 200px;
	width: 30%;
	margin-right: 20px;
	height: 600px;
	overflow: auto;
}
.column-title {
	padding: 10px;
	font-weight: 500;
	text-align: center;
}
.ring {
    border: 3px solid red;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    position: absolute;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.drag-ring {
  top: -2px;
  position: relative;
  left: 1px;
  color: #999;
}